<header class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1>{{title}}
      <br><small>Query different search engines at one go</small>
    </h1>
  </div>
  <p id="photo-credits" class="text-right">Photo by Sergi Kabrera <br> on Unsplash</p>
</header>
<div class="container-fluid">
  <div class="">
    <!-- Start Search bar -->
    <app-search-bar></app-search-bar>
    <!-- End Search bar -->
  </div>
  <div class="row engines-panel">
    <div class="col">
      <!-- Start DuckDuckGo Box -->
      <app-duckduckgo-box></app-duckduckgo-box>
      <!-- End DuckDuckGo Box -->
    </div>
    <div class="col">
      <!-- Start Google Box -->
      <app-google-box></app-google-box>
      <!-- End Google Box -->
    </div>
    <!--div class="col">
      <app-bing-box></app-bing-box>
    </div-->
  </div>
</div>
