<header>  
  <h1>{{title}}</h1>
</header>
<div class="main-container">
  <div class="container">
    <div class="row">
      <!-- Start Search bar -->
      <app-search-bar></app-search-bar>
      <!-- End Search bar -->
    </div>
    <div class="row">
      <div class="col">
        <!-- Start DuckDuckGo Box -->
        <app-duckduckgo-box></app-duckduckgo-box>
        <!-- End DuckDuckGo Box -->
      </div>
      <div class="col">
        <!-- Start Google Box -->
        <app-google-box></app-google-box>
        <!-- End Google Box -->
      </div>
      <!--div class="col">
        <app-bing-box></app-bing-box>
      </div-->
    </div>
</div>