<header>  
  <h1>{{title}}</h1>
</header>
<div class="main-container">
  <div class="container">
    <div class="row">
      <app-search-bar></app-search-bar>
      <!--app-text-field></app-text-field-->
    </div>
    <div class="row">
      <div class="col">
        <app-duckduckgo-box></app-duckduckgo-box>
      </div>
      <div class="col">
        <app-google-box></app-google-box>
      </div>
      <div class="col"></div>
        <app-bing-box></app-bing-box>
      <div class="col">
        <!--app-wiki-box></app-wiki-box>
        <app-news-box></app-news-box>
        <app-books-box></app-books-box-->
      </div>
    </div>
</div>